.column{
    float:left;
    width:50%;
}
.row:after{
    content:"";
    display:table;
    clear:both;
}
.prevent-select{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}